:root {
  --text-shadow: 0 3px 14px #191b24cc, 0 1px 5px #000;
}

.home_main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
  background: #1919191f;
  letter-spacing: 0.8rem;
}

.slide-content {
  position: relative;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 1rem;
}

.slide-content img {
  max-height: 550px;
  max-width: 520px;
  rotate: 10deg;
}

.slide-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.slide-text h1 {
  font-size: 8rem;
  text-transform: uppercase;
  color: #1C1B1B;
  width: 100vw;
  text-align: center;
}

.swiper-pagination-bullet {
  border: 2px solid #ff3377;
  width: 16px;
  height: 16px;
  opacity: 1;
  transition: transform 0.2s;
}

.slide-text-left {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide-text-left h3 {
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 11rem;
  color: #222222;
  font-weight: 500;
  letter-spacing: 2rem;
  transform: scaleX(1.6);
}
