.home_main {
  /* background-color: rgba(0, 0, 0, 0.873); */
  background-color: cornflowerblue;
  height: 100vh;
}

.home_upper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_upper img {
  position: relative;
  top: 8rem;
  rotate: 15deg;
  display: none;
}