.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 5rem 5rem;
  backdrop-filter: blur(200px);
}

.nav-inner {
  display: flex;
  gap: 8rem;
}

.nav-inner img {
  height: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
}
